.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-title.title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* SECTION TEXT */
.section-text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.section-container {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

/* LIST WORK */
.work {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-list {
  flex-basis: calc((100% - 60px) / 30px);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list:hover .portfolio-text {
  opacity: 1;
}

.portfolio-list:hover,
.portfolio-list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-list:hover .portfolio-text {
  transform: translateY(0%);
}

.portfolio-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-text {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-left: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  color: var(--primary-text-color);
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --accent-text-color: #2196f3;
  --primary-button-color: #ffffff;
  --footer-hero-color: #2f303a;
  --button-color-portfolio: #f5f4fa;
}

.button.primary {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  display: inline-block;
  border: none;
  color: var(--primary-button-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary:focus,
.button.primary:hover {
  background-color: #188ce8;
}

.hero {
  max-width: 1600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.hero-title {
  /* margin-top: 200px; */
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  color: var(--primary-button-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

.button.primary {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  display: inline-block;
  border: none;
  color: var(--primary-button-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary:focus,
.button.primary:hover {
  background-color: #188ce8;
}

.logo {
  color: #2196f3;
  font-family: Raleway, sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 1.19;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  /* outline: 2px solid tomato; */
}

.main-nav {
  display: flex;
  align-items: center;
}

.header-main-nav {
  display: flex;
  align-items: center;
}

/* SITE NAV */
.current {
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -1px;
  display: block;
  width: 100%;
  height: 4px;
  border-radius: 2px;
  background-color: var(--accent-text-color);
}

.main-header {
  border: 1px solid #ececec;
}

.web.logo {
  color: var(--accent-text-color);
}

.studio.logo {
  color: var(--title-text-color);
}

.studio-logo-footer {
  color: var(--primary-button-color);
}

.site-nav {
  display: flex;
  margin-left: 90px;
}

.contact-link {
  display: flex;
  gap: 10px;
  justify-content: center;
  align-items: center;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contact-link:hover, .contact-linklink:focus {
  color: var(--accent-text-color);
}

.contact-nav-icon {
  fill: currentColor;
}

.site-nav .item + .item {
  margin-left: 50px;
}

.contact-nav .item + .item {
  margin-left: 50px;
}

.site-nav__link {
  display: block;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.02em;
  padding-top: 32px;
  padding-bottom: 32px;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav__link:hover,
.site-nav__link:focus {
  color: var(--accent-text-color);
  cursor: pointer;
}

.contact-nav.list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  display: flex;
  margin-left: auto;
}

.contact-nav .link {
  color: var(--primary-text-color);
}

.contact-nav .link:hover,
.contact-nav .link:focus {
  color: var(--accent-text-color);
}

.site-nav .link.current {
  color: var(--accent-text-color);
}

.contact-nav-icon:hover {
  fill: currentColor;
}

.advence__section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advences__list {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  display: flex;
  gap: 30px;
}

.advences__item {
  flex-basis: calc(25% - 30px);
}

.advences__icon {
  display: flex;
  height: 120px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.advences__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}

.advences__text {
  width: 270px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  color: var(--primary-text-color);
}

.job__section {
  padding-bottom: 94px;
}

.job__list {
  display: flex;
  gap: 30px;
}

.job__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.job__link {
  position: relative;
  display: block;
  text-decoration: none;
}

.job__text {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: 27px;
  color: var(--primary-button-color);
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.section-team {
  background-color: #f5f4fa;
  padding-top: 94px;
  padding-bottom: 94px;
}

.team-list {
  background-color: var(--primary-button-color);
  border-radius: 0px 0px 4px 4px;
  width: calc(100% - 7.5px);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}

.team-section__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.member-title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.member-profession {
  margin-top: 0;
  padding-bottom: 30px;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.list-member {
  display: flex;
  gap: 30px;
  margin-top: 50px;
}

.member-list {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}

.member-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  width: calc((100% - 30px) / 4);
}

.member-soc__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.member-soc__link:hover,
.member-soc__link:focus {
  border-radius: 50%;
  background-color: var(--accent-text-color);
}

.member-soc__icon {
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.member-soc__link:hover .member-soc__icon, .member-soc__link:focus .member-soc__icon {
  fill: #ffffff;
}

.section__client {
  padding-top: 94px;
  padding-bottom: 94px;
}

.client__title {
  font-weight: 700;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}

.client__list {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

.client__link {
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 170px;
  height: 92px;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-button-color);
  fill: #afb1b8;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  fill: var(--accent-text-color);
  border-color: var(--accent-text-color);
}

.form {
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.form-text {
  margin-bottom: 12px;
  width: 448px;
  height: 23px;
  left: 576px;
  top: 261px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}

.form-label {
  position: relative;
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  gap: 4px;
  font-size: 12px;
  font-weight: 1.66;
  letter-spacing: 0.01em;
}

.form-label > input {
  width: 448px;
  height: 40px;
  left: 576px;
  top: 314px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label > input:focus-within {
  border-color: var(--accent-text-color);
}

.form-label > textarea {
  width: 448px;
  height: 120px;
  left: 576px;
  top: 518px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label > textarea:focus-within {
  border-color: var(--accent-text-color);
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-label:focus-within > .form-icon {
  fill: var(--accent-text-color);
}

.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form-checkbox {
  position: relative;
  padding-left: 7px;
  margin-top: 10px;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}

.form-check-text {
  text-underline-offset: 4px;
  color: var(--accent-text-color);
}

.form-button {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 712px;
  margin: 30px auto;
  padding: 10px 52px;
  color: var(--primary-button-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  opacity: 1;
}

.form-icon-check {
  fill: #ffffff;
  background-color: var(--accent-text-color);
  width: 16px;
  height: 16px;
  top: 1px;
  left: 11px;
  position: absolute;
  margin-right: 8px;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-checkbox > input:checked ~ .form-icon-check {
  opacity: 1;
}

.form-checkbox > input:checked ~ .icon {
  opacity: 0;
}

.button-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-button {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  color: var(--title-text-color);
  background-color: var(--button-color-portfolio);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-button:focus,
.portfolio-button:hover {
  color: var(--primary-button-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

.footer {
  background-color: var(--footer-hero-color);
  padding-top: 60px;
  padding-bottom: 60px;
}

.footer-container {
  display: flex;
  align-items: baseline;
  margin: 0 auto;
}

.site-nav.link {
  color: var(--primary-button-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.link.footer {
  color: var(--footer-text-color);
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
}

.footer-link {
  margin-bottom: 9px;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  cursor: pointer;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-link-container {
  margin-left: 70px;
}

.footer-link:focus,
.footer-link:hover {
  color: var(--accent-text-color);
}

.item-mail {
  margin-bottom: 9px;
}

.footer-adress {
  margin-top: 20px;
  margin-bottom: 9px;
  color: var(--primary-button-color);
  font-style: normal;
  text-decoration: none;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-adress:focus,
.footer-adress:hover {
  color: var(--accent-text-color);
}

.footer-item {
  margin-top: 20px;
  margin-bottom: 9px;
}

.footer-icon {
  fill: #ffffff;
}

.footer-link-title {
  margin-bottom: 20px;
  margin-right: 0;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-button-color);
  position: center;
  width: 116px;
  height: 16px;
  left: 516px;
  top: 2748px;
}

.footer-link-icon {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.1);
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.sub-list {
  display: flex;
  align-items: center;
  justify-content: baseline;
  gap: 10px;
}

.footer-link-icon:focus,
.footer-link-icon:hover {
  border-radius: 50%;
  background-color: var(--accent-text-color);
}

.form-footer {
  display: flex;
  gap: 10px;
}

.footer-sub-email {
  margin-left: 93px;
}

.footer-input-email {
  width: 358px;
  height: 50px;
  background-color: transparent;
  color: var(--primary-button-color);
  border: 1px solid rgba(255, 255, 255, 0.3);
  filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
  border-radius: 4px;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.25;
  padding-left: 16px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-input-email:focus {
  border-color: var(--accent-text-color);
}

.footer-sub-text {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--primary-button-color);
  margin-bottom: 20px;
}

.footer-button {
  width: 200;
  height: 50px;
  border-radius: 4px;
  padding: 10px 28px;
  border: none;
  color: var(--primary-button-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 1.88;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.icon-send {
  width: 24px;
  height: 24px;
  margin-left: 10px;
  fill: var(--primary-button-color);
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(1);
  width: 528px;
  min-height: 581px;
  background-color: var(--primary-button-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleX(0);
}

.modal-button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .modal-close-icon {
  fill: var(--accent-text-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */