.modal-menu__conteiner {
  position: fixed;
  transform: translateX(200%);
  top: 0;
  left: 0;
  margin-left: auto;
  margin-right: auto;
  padding: 48px 40px;
  background-color: #fff;
  transition: transform 350ms cubic-bezier(0.4, 0, 0.2, 1);
  width: 100vw;
  height: 100vh;
  outline: 1px solid #2196f3;
  margin-right: auto;
  margin-left: auto;
}
.modal-menu__conteiner > .container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  overflow: auto;
}
@media screen and (max-width: 480px) {
  .modal-menu__conteiner {
    width: 480px;
    height: 100%;
  }
}
.modal-menu__conteiner.is-open {
  transform: translateX(0);
}

.modal-menu__close-btn {
  position: absolute;
  top: 21px;
  right: 25px;
  justify-content: flex-end;
  border: none;
  background-color: inherit;
}

.modal-menu__icon-close {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
}

.modal-menu__close-btn:focus,
.modal-menu__close-btn:hover .modal-menu__icon-close {
  fill: #2196f3;
  cursor: pointer;
}

.modal-menu__nav,
.modal-menu__contacts-list,
.modal-menu__icons {
  list-style: none;
}

.modal-menu__nav-link {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 40px;
  line-height: 47px;
  letter-spacing: 0.02em;
  color: #212121;
}
.modal-menu__nav-link.current {
  color: #2196f3;
}

.modal-menu__nav-item:not(:last-child) {
  margin-bottom: 36px;
}

.modal-menu__number {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 34px;
  line-height: 40px;
  letter-spacing: 0.02em;
  color: #2196f3;
}

.modal-menu__email {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 24px;
  line-height: 28px;
  letter-spacing: 0.02em;
  color: #757575;
}

.modal-menu__nav {
  margin-bottom: 30vh;
}

.modal-menu__contact:not(:last-child) {
  margin-bottom: 32px;
}

.modal-menu__icon {
  position: relative;
  margin-right: 20px;
}
.modal-menu__icon:not(:last-child):after {
  display: inline-block;
  position: absolute;
  content: "";
  height: 100%;
  background-color: rgba(33, 33, 33, 0.2);
  width: 1px;
  right: -10px;
}

.modal-soc-menu__icons {
  display: flex;
  flex-wrap: wrap;
  margin-top: 64px;
  list-style: none;
}

.modal-menu__link {
  color: #2196f3;
  font-weight: 500;
  font-size: 18px;
  line-height: 22px;
  letter-spacing: 0.02em;
}

.modal-menu__icon-open {
  width: 30px;
  height: 30px;
  padding: 0;
  margin: 0;
}

.mobile-menu__open-btn {
  border: none;
  background-color: inherit;
}
@media screen and (min-width: 768px) {
  .mobile-menu__open-btn {
    display: none;
  }
}

.mobile-menu__open-btn:focus,
.mobile-menu__open-btn:hover .mobile-menu__icon-open {
  fill: #2196f3;
  cursor: pointer;
}

.portfolio-section {
  padding-top: 94px;
  padding-bottom: 94px;
}

.portfolio-title.title {
  margin-bottom: 4px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
}

/* SECTION TEXT */
.section-text {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.87;
  letter-spacing: 0.03em;
}

.section-container {
  padding-top: 20px;
  padding-bottom: 20px;
  padding-left: 24px;
  padding-right: 24px;
  border: 1px solid #eeeeee;
  border-top: none;
}

/* LIST WORK */
.work {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.portfolio-list {
  flex-basis: calc((100% - 60px) / 30px);
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list:hover, .portfolio-list:focus {
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12), 0px 4px 4px rgba(0, 0, 0, 0.06), 1px 4px 6px rgba(0, 0, 0, 0.16);
}

.portfolio-wrap {
  position: relative;
  overflow: hidden;
}

.portfolio-text {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  opacity: 0;
  width: 100%;
  height: 100%;
  padding-top: 63px;
  padding-left: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.55;
  letter-spacing: 0.03em;
  color: #ffffff;
  background-color: rgba(33, 150, 243, 0.9);
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1), opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-list:hover .portfolio-text {
  opacity: 1;
}
.portfolio-list:hover .portfolio-text {
  transform: translateY(0%);
}

h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

a {
  text-decoration: none;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

body {
  color: var(--primary-text-color);
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

:root {
  --title-text-color: #212121;
  --primary-text-color: #757575;
  --footer-text-color: rgba(255, 255, 255, 0.6);
  --accent-text-color: #2196f3;
  --primary-button-color: #ffffff;
  --footer-hero-color: #2f303a;
  --button-color-portfolio: #f5f4fa;
}

.button.primary {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  display: inline-block;
  border: none;
  color: var(--primary-button-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary:focus,
.button.primary:hover {
  background-color: #188ce8;
}

.hero {
  max-width: 1600px;
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  padding-top: 200px;
  padding-bottom: 200px;
  background-image: linear-gradient(rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/bcg-img.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 576px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/hero/);
  }
}
@media screen and (max-width: 576px) and (min-device-pixel-ratio: 2), screen and (max-width: 576px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 576px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon/bgpic/Header-img@2x.jpg);
  }
}
@media screen and (max-width: 768px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon/bgpic/Header-img-tablet.jpg);
  }
}
@media screen and (max-width: 768px) and (min-device-pixel-ratio: 2), screen and (max-width: 768px) and (-webkit-min-device-pixel-ratio: 2), screen and (max-width: 768px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon/bgpic/Header-img-tablet@2x.jpg);
  }
}
@media screen and (min-width: 769px) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon/bgpic/Header-img-desctop.jpg);
  }
}
@media screen and (min-width: 769px) and (min-device-pixel-ratio: 2), screen and (min-width: 769px) and (-webkit-min-device-pixel-ratio: 2), screen and (min-width: 769px) and (min-resolution: 2dppx) {
  .hero {
    background-image: linear-gradient(to right, rgba(47, 48, 58, 0.4), rgba(47, 48, 58, 0.4)), url(../images/fon/bgpic/Header-img-desctop@2x.jpg);
  }
}
@media screen and (max-width: 1200px) {
  .hero {
    padding: 118px 0;
    height: 400px;
  }
}
.hero .hero-title {
  /* margin-top: 200px; */
  margin-bottom: 30px;
  margin-left: auto;
  margin-right: auto;
  width: 696px;
  color: var(--primary-button-color);
  font-weight: 900;
  font-size: 44px;
  line-height: 1.36;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}
@media screen and (max-width: 1199px) {
  .hero .hero-title {
    max-width: 360px;
    font-size: 26px;
  }
}
@media screen and (min-width: 1200px) {
  .hero .hero-title {
    max-width: 696px;
  }
}

.button.primary {
  border-radius: 4px;
  padding: 10px 32px;
  min-width: 216px;
  display: inline-block;
  border: none;
  color: var(--primary-button-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  font-family: Roboto, sans-serif;
  font-size: 16px;
  line-height: 1.87;
  text-align: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button.primary:focus,
.button.primary:hover {
  background-color: #188ce8;
}

.container {
  margin-left: auto;
  margin-right: auto;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
}
@media screen and (min-width: 480px) {
  .container {
    width: 480px;
  }
}
@media screen and (min-width: 768px) {
  .container {
    width: 768px;
  }
}
@media screen and (min-width: 1200px) {
  .container {
    width: 1200px;
  }
}

header {
  display: flex;
  border-bottom: solid 1px;
  border-color: #ececec;
  padding: 25px 0;
  background-color: #fff;
}
@media screen and (max-width: 767px) {
  header {
    padding: 16px 0;
    width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  header {
    width: 768px;
    margin-right: auto;
    margin-left: auto;
    height: 80px;
  }
}
@media screen and (min-width: 1200px) {
  header {
    width: 1200px;
    padding: 25px 0;
    height: 80px;
    margin-right: auto;
    margin-left: auto;
  }
}

.nav-logo {
  color: #212121;
  font-family: Raleway, sans-serif;
  font-size: 26px;
  line-height: 1.19;
}
.nav-logo__text {
  color: #2196f3;
}
@media screen and (max-width: 767px) {
  .nav-logo {
    font-size: 24px;
  }
}

.nav__text {
  color: #2196f3;
}

.nav.container {
  width: 100%;
}
@media screen and (min-width: 768px) and (max-width: 1200px) {
  .nav.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
}
@media screen and (min-width: 1200px) {
  .nav.container {
    width: 1200px;
    display: flex;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
  }
}

.nav-container {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 767px) {
  .nav-container {
    display: flex;
  }
}

.nav-logo {
  align-self: flex-end;
}
@media screen and (min-width: 1200px) {
  .nav-logo {
    margin-right: 94px;
  }
}

/* nav */
.nav__list {
  color: var(--primary-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0px 0px;
  list-style: none;
}
@media screen and (max-width: 767px) {
  .nav__list {
    display: none;
  }
}
@media screen and (min-width: 768px) {
  .nav__list {
    display: flex;
    align-items: center;
  }
}

.nav__item:not(:last-child) {
  margin-right: 50px;
}

.nav__link {
  color: #212121;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.nav__link:hover, .nav__link:focus {
  color: var(--accent-text-color);
}
@media screen and (max-width: 767px) {
  .nav__link {
    display: none;
  }
}

.nav__link.current {
  color: var(--accent-text-color);
  position: relative;
  margin-bottom: 33px;
}
.nav__link.current::after {
  display: inline-block;
  content: "";
  position: absolute;
  bottom: -33px;
  left: 0;
  width: 100%;
  height: 4px;
  background-color: var(--accent-text-color);
  border-radius: 2px;
}

.contacts-list {
  list-style: none;
}
@media screen and (max-width: 1200px) {
  .contacts-list__contact:not(:last-child) {
    margin-bottom: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list__contact:not(:last-child) {
    margin-right: 50px;
  }
}
.contacts-list__mail, .contacts-list__number {
  display: flex;
  align-items: center;
  color: #757575;
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-list__icon {
  margin-right: 10px;
  fill: currentColor;
}
@media screen and (max-width: 767px) {
  .contacts-list {
    display: none;
  }
}
@media screen and (min-width: 1200px) {
  .contacts-list {
    display: flex;
    margin-left: auto;
  }
}

.contacts-list__mail:hover,
.contacts-list__mail:focus,
.contacts-list__number:hover,
.contacts-list__number:focus {
  color: var(--accent-text-color);
}

.advence__section {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .advence__section {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  -webkit-clip-path: inset(100%);
          clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.advences__list {
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 14px;
  line-height: 1.71;
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.advences__item {
  width: 100%;
}
@media screen and (min-width: 768px) {
  .advences__item {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .advences__item {
    width: calc((100% - 90px) / 4);
  }
}

.advences__icon {
  display: flex;
  height: 120px;
  border-radius: 4px;
  align-items: center;
  justify-content: center;
  background-color: #f5f4fa;
  margin-bottom: 30px;
}

.advences__title {
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
}
@media screen and (min-width: 480px) {
  .advences__title {
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}
@media screen and (min-width: 768px) {
  .advences__title {
    width: 270px;
    height: 16px;
    left: 15px;
    top: 690px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    text-align: left;
  }
}
@media screen and (min-width: 1200px) {
  .advences__title {
    margin-bottom: 10px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
}

.advences__text {
  color: var(--primary-text-color);
}
@media screen and (min-width: 480px) {
  .advences__text {
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 768px) {
  .advences__text {
    width: 354px;
    left: 15px;
    top: 716px;
    font-family: "Roboto";
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    /* or 171% */
    letter-spacing: 0.03em;
  }
}
@media screen and (min-width: 1200px) {
  .advences__text {
    width: 270px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
  }
}

.job__section {
  padding-bottom: 94px;
}
@media screen and (max-width: 1200px) {
  .job__section {
    display: none;
  }
}

.job__list {
  display: flex;
  gap: 30px;
}

.job__title {
  margin-top: 0;
  margin-bottom: 50px;
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 36px;
  line-height: 1.16;
  text-align: center;
  letter-spacing: 0.03em;
}

.job__link {
  position: relative;
  display: block;
  text-decoration: none;
}

.job__text {
  position: absolute;
  bottom: 0;
  right: 0;
  padding-top: 27px;
  color: var(--primary-button-color);
  background: rgba(47, 48, 58, 0.8);
  width: 370px;
  height: 70px;
  font-weight: 700;
  font-size: 14px;
  line-height: 16px;
  text-align: center;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  text-align: center;
}

.section-team {
  background-color: #f5f4fa;
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section-team {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.team-list {
  background-color: var(--primary-button-color);
  border-radius: 0px 0px 4px 4px;
  margin-bottom: 30px;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
}
@media screen and (min-width: 768px) {
  .team-list {
    width: calc((100% - 30px) / 2);
  }
}
@media screen and (min-width: 1200px) {
  .team-list {
    width: calc((100% - 90px) / 4);
  }
}

.team-section__title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 28px;
  line-height: 33px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-bottom: 30px;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .team-section__title {
    font-size: 36px;
    line-height: 42px;
  }
}

.member-title {
  margin-top: 30px;
  margin-bottom: 10px;
  color: var(--title-text-color);
  font-weight: 500;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.member-profession {
  margin-top: 0;
  padding-bottom: 30px;
  color: var(--primary-text-color);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.18;
  letter-spacing: 0.03em;
  text-align: center;
}

.list-member {
  gap: 30px;
  margin-top: 50px;
}
@media screen and (min-width: 768px) {
  .list-member {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 768px) and (min-width: 1200px) {
  .list-member {
    display: flex;
  }
}

.member-list {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
  margin-right: auto;
  margin-left: auto;
}

.member-soc-list {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-left: 10px;
}

.member-soc__link {
  width: 44px;
  height: 44px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.member-soc__link:hover, .member-soc__link:focus {
  border-radius: 50%;
  background-color: var(--accent-text-color);
}

.member-soc__icon {
  fill: #afb1b8;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.member-soc__link:hover .member-soc__icon, .member-soc__link:focus .member-soc__icon {
  fill: #ffffff;
}

.section__client {
  padding-top: 60px;
  padding-bottom: 60px;
}
@media screen and (min-width: 1200px) {
  .section__client {
    padding-top: 94px;
    padding-bottom: 94px;
  }
}

.client__title {
  font-weight: 700;
  font-size: 28px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
  margin-bottom: 50px;
}
@media screen and (min-width: 1200px) {
  .client__title {
    font-size: 36px;
  }
}

.client__item {
  width: calc((100% - 30px) / 2);
}
@media screen and (min-width: 768px) {
  .client__item {
    width: calc((100% - 60px) / 3);
  }
}
@media screen and (min-width: 1200px) {
  .client__item {
    width: calc((100% - 150px) / 6);
  }
}

.client__list {
  display: flex;
  flex-wrap: wrap;
  gap: 30px;
}

.client__link {
  display: flex;
  border: 1px solid #afb1b8;
  border-radius: 4px;
  width: 210px;
  height: 92px;
  align-items: center;
  justify-content: center;
  background-color: var(--primary-button-color);
  fill: #afb1b8;
  padding: 20px 0 20px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.client__link:hover, .client__link:focus {
  fill: var(--accent-text-color);
  border-color: var(--accent-text-color);
}
@media screen and (min-width: 768px) {
  .client__link {
    display: flex;
    width: 226px;
    height: 92px;
  }
}
@media screen and (min-width: 1200px) {
  .client__link {
    display: flex;
    width: 170px;
    height: 92px;
    gap: 30px;
  }
}

.form {
  width: 100%;
  height: 100%;
  padding: 40px;
  display: flex;
  flex-direction: column;
}

.form-text {
  margin-bottom: 12px;
  width: 370px;
  height: 60px;
  left: 55px;
  top: 133px;
  font-weight: 700;
  font-size: 20px;
  line-height: 1.15;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--title-text-color);
}
@media screen and (min-width: 1200px) {
  .form-text {
    width: 448px;
    height: 23px;
    left: 576px;
    top: 261px;
  }
}

.form-label {
  position: relative;
  display: flex;
  margin-bottom: 10px;
  flex-direction: column;
  gap: 4px;
  font-size: 12px;
  font-weight: 1.66;
  letter-spacing: 0.01em;
}

.form-label > input {
  width: 370px;
  height: 40px;
  left: 576px;
  top: 314px;
  padding-left: 42px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-label > input > input:focus-within {
  border-color: var(--accent-text-color);
}
@media screen and (min-width: 1200px) {
  .form-label > input {
    width: 448px;
  }
}

.form-label > textarea {
  width: 370px;
  height: 120px;
  left: 576px;
  top: 518px;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  resize: none;
  outline: none;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-label > textarea > textarea:focus-within {
  border-color: var(--accent-text-color);
}
@media screen and (min-width: 1200px) {
  .form-label > textarea {
    width: 448px;
  }
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 12px;
  display: inline-block;
  width: 18px;
  height: 18px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.form-label:focus-within > .form-icon {
  fill: var(--accent-text-color);
}

.checkbox {
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
}

.form-checkbox {
  position: relative;
  padding-left: 7px;
  margin-top: 10px;
  font-weight: 400;
  font-size: 12px;
  line-height: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  text-align: left;
}
.form-checkbox > input:checked ~ .form-icon-check {
  opacity: 1;
}
.form-checkbox > input:checked ~ .icon {
  opacity: 0;
}
@media screen and (min-width: 1200px) {
  .form-checkbox {
    font-size: 14px;
    line-height: 24px;
  }
}

.form-check-text {
  text-underline-offset: 4px;
  color: var(--accent-text-color);
}

.form-button {
  width: 200px;
  height: 50px;
  left: 700px;
  top: 712px;
  margin: 30px auto;
  padding: 10px 52px;
  color: var(--primary-button-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  border: none;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
}

.icon {
  display: inline-block;
  width: 16px;
  height: 15px;
  margin-right: 8px;
  border: 2px solid var(--title-text-color);
  border-radius: 2px;
  opacity: 1;
}

.form-icon-check {
  fill: #ffffff;
  background-color: var(--accent-text-color);
  width: 16px;
  height: 16px;
  top: 1px;
  left: 11px;
  position: absolute;
  margin-right: 8px;
  border-radius: 2px;
  opacity: 0;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-list {
  display: flex;
  gap: 8px;
  justify-content: center;
  margin-bottom: 50px;
}

.portfolio-button {
  display: inline-block;
  border-radius: 4px;
  padding: 6px 22px;
  min-width: 73px;
  color: var(--title-text-color);
  background-color: var(--button-color-portfolio);
  font-family: "Roboto";
  font-weight: 500;
  font-size: 16px;
  line-height: 1.62;
  letter-spacing: 0.03em;
  text-align: center;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1), box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.portfolio-button:focus, .portfolio-button:hover {
  color: var(--primary-button-color);
  background-color: var(--accent-text-color);
  cursor: pointer;
  border-radius: 4px;
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08), 0px 2px 2px rgba(0, 0, 0, 0.12);
}

footer {
  background-color: #2f303a;
  padding: 60px 0px;
}
@media screen and (max-width: 767px) {
  footer {
    padding: 60px 0;
    width: 480px;
    margin-right: auto;
    margin-left: auto;
  }
}

.footer-adress-text {
  text-align: center;
  margin-bottom: 60px;
}
@media screen and (min-width: 768px) {
  .footer-adress-text {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-adress-text {
    margin-bottom: 0;
    text-align: left;
  }
}

@media screen and (min-width: 1200px) {
  .conteiner {
    display: flex;
    align-items: flex-start;
    width: 1200px;
    margin: 0 auto;
  }
}

.footer-logo {
  display: inline-block;
  color: #fff;
  font-family: Raleway, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 1.19;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
.footer-logo__text {
  color: #2196f3;
}

@media screen and (min-width: 767px) {
  .adress-links-wrraper {
    display: flex;
    justify-content: space-around;
    margin-bottom: 60px;
  }
}
@media screen and (min-width: 1200px) {
  .adress-links-wrraper {
    margin-bottom: 0;
  }
}

.footer-address {
  font-style: normal;
  color: #fff;
  font-weight: normal;
  font-size: 14px;
  line-height: 1.71;
  letter-spacing: 0.03em;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-address__item:not(:last-child) {
  margin-bottom: 9px;
}
.footer-address__link {
  color: rgba(255, 255, 255, 0.6);
}
.footer-address__item:hover, .footer-address:focus {
  color: #2196f3;
  cursor: pointer;
}

.footer-address__list,
.footer-social-icons {
  list-style: none;
}

.footer-social-links {
  text-align: center;
  margin-bottom: 60px;
  margin-bottom: 60px;
}
.footer-social-links__title {
  color: #fff;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  margin-bottom: 20px;
}
@media screen and (min-width: 1200px) {
  .footer-social-links__title {
    margin-top: 10px;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social-links__title {
    text-align: left;
  }
}
.footer-social-links__icon {
  display: flex;
  padding: 12px;
  border-radius: 50%;
  fill: #fff;
  background-color: rgba(255, 255, 255, 0.1);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-social-links__icon:hover, .footer-social-links__icon:focus {
  background-color: #2196f3;
}
@media screen and (min-width: 768px) {
  .footer-social-links {
    margin-bottom: 0;
  }
}
@media screen and (min-width: 1200px) {
  .footer-social-links {
    margin-left: 70px;
    margin-bottom: 0;
  }
}

.footer-social-icons {
  display: flex;
  justify-content: center;
}
.footer-social-icons__item:not(:last-child) {
  margin-right: 10px;
}

@media screen and (min-width: 768px) {
  .footer-address__list {
    margin-bottom: 0;
  }
}

.subscribe-form__label {
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #fff;
  display: block;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.subscribe-form__email {
  width: 450px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  border-radius: 4px;
  background-color: inherit;
  padding: 16px 15px;
  margin-top: 20px;
}
.subscribe-form__email:focus {
  outline: none;
  color: white;
  border-color: #2196f3;
}
.subscribe-form__email:not(:-moz-placeholder-shown) {
  color: white;
}
.subscribe-form__email:not(:-ms-input-placeholder) {
  color: white;
}
.subscribe-form__email:not(:placeholder-shown) {
  color: white;
}
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .subscribe-form__email {
    width: 450px;
  }
  .subscribe-form__email__email {
    width: 100%;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-form__email {
    width: 360px;
  }
}
.subscribe-form__buttom {
  display: flex;
  background-color: #2196f3;
  color: white;
  width: 200px;
  height: 50px;
  border: none;
  border-radius: 4px;
  padding: 13px 28px;
  align-items: center;
  font-weight: bold;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.06em;
  cursor: pointer;
  margin-left: auto;
  margin-right: auto;
}
.subscribe-form__icon {
  display: block;
  fill: white;
  margin-left: 10px;
}
@media screen and (min-width: 1200px) {
  .subscribe-form {
    margin-left: 94px;
    display: flex;
    align-items: flex-end;
  }
}

.subscribe-form-box {
  text-align: center;
  margin-bottom: 20px;
}
@media screen and (min-with: 768px) {
  .subscribe-form-box {
    display: flex;
    flex-wrap: wrap;
  }
}
@media screen and (min-width: 1200px) {
  .subscribe-form-box {
    margin-bottom: 0px;
    align-items: flex-start;
    margin-right: 12px;
    text-align: left;
  }
}

.backdrop {
  position: fixed;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scaleX(1);
  width: 450px;
  height: 609px;
  background-color: var(--primary-button-color);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;
}
@media screen and (min-width: 1200px) {
  .modal {
    width: 528px;
    min-height: 581px;
  }
}

.backdrop.is-hidden .modal {
  transform: translate(-50%, -50%) scaleX(0);
}

.modal-button {
  position: absolute;
  right: 8px;
  top: 8px;
  width: 30px;
  height: 30px;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 50%;
  background-color: transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  padding-top: 6px;
  padding-bottom: 6px;
  padding-left: 6px;
  padding-right: 6px;
  cursor: pointer;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-button:hover .modal-close-icon {
  fill: var(--accent-text-color);
}

.is-hidden {
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
}/*# sourceMappingURL=main.css.map */