
.advence__section {
    padding-top: 94px;
    padding-bottom: 94px;
  }

  .visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0 0 0 0);
    overflow: hidden;
  }

    .advences__list {
      color: var(--primary-text-color);
    
      font-weight: 400;
      font-size: 14px;
      line-height: 1.71;
      display: flex;
      gap: 30px;
    }
    
  
  
  .advences__item {
    flex-basis: calc(100% / 4 - 30px);
  }

  .advences__icon {
    display: flex;
    height: 120px;
    border-radius: 4px;
    align-items: center;
    justify-content: center;
    background-color: #f5f4fa;
    margin-bottom: 30px;
  }
  
  .advences__title {
    margin-bottom: 10px;
  
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  }
  
  .advences__text {
    width: 270px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    color: var(--primary-text-color);
  } 