.form {
    width: 100%;
    height: 100%;
    padding: 40px;
    display: flex;
    flex-direction: column;
    
  }
  
  .form-text {
    margin-bottom: 12px;
    width: 370px;
      height: 60px;
      left: 55px;
top: 133px;
    
   
  
    font-weight: 700;
    font-size: 20px;
    line-height: 1.15;
    text-align: center;
    letter-spacing: 0.03em;
    color: var(--title-text-color);
    @media screen and (min-width:1200px) {
       width: 448px;
    height: 23px;
    left: 576px;
    top: 261px;
      
    }
  }
  .form-label {
    position: relative;
    display: flex;
    margin-bottom: 10px;
    flex-direction: column;
    gap: 4px;
    font-size: 12px;
    font-weight: 1.66;
    letter-spacing: 0.01em;
  }
  
  .form-label > input {
    width: 370px;
    height: 40px;
    left: 576px;
    top: 314px;
    padding-left: 42px;
  
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
    outline: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    & > input:focus-within {
      border-color: var(--accent-text-color);
    }
  @media screen and (min-width:1200px) {
    
    width: 448px;
   }
  }
  
  
  
  .form-label > textarea {
    width: 370px;
    
    height: 120px;
    left: 576px;
    top: 518px;
  
    border: 1px solid rgba(33, 33, 33, 0.2);
    border-radius: 4px;
  
    resize: none;
    outline: none;
  
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

    & > textarea:focus-within {
      border-color: var(--accent-text-color);
    }
    @media screen and (min-width:1200px) {
      width: 448px;
     }
  }
  
  
  
  .form-icon {
    position: absolute;
    top: 50%;
    left: 12px;
    display: inline-block;
    width: 18px;
    height: 18px;
  
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);

    .form-label:focus-within > & {
      fill: var(--accent-text-color);
    }
  }
  
  
  
  .checkbox {
    appearance: none;
  }
  .form-checkbox {
    
    position: relative;
    padding-left: 7px;
    margin-top: 10px;
    font-weight: 400;
    font-size: 12px;
    line-height: 14px;
    line-height: 1.71;
    letter-spacing: 0.03em;
    text-align: left;

    & > input:checked ~ .form-icon-check {
      opacity: 1;
    }
    & > input:checked ~ .icon {
      opacity: 0;
    }
    @media screen and(min-width:1200px) {
      font-size: 14px;
      line-height: 24px;
      
    }
  }
  
  .form-check-text {
    text-underline-offset: 4px;
    color: var(--accent-text-color);
  }
  
  .form-button {
    width: 200px;
    height: 50px;
    left: 700px;
    top: 712px;
    margin: 30px auto;
    padding: 10px 52px;
  
    color: var(--primary-button-color);
    background-color: var(--accent-text-color);
    cursor: pointer;
    border: none;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
    border-radius: 4px;
  }
  
  .icon {
    display: inline-block;
    width: 16px;
    height: 15px;
    margin-right: 8px;
  
    border: 2px solid var(--title-text-color);
    border-radius: 2px;
  
    opacity: 1;
  }
  
  .form-icon-check {
    fill: #ffffff;
    background-color: var(--accent-text-color);
    width: 16px;
    height: 16px;
    top: 1px;
    left: 11px;
    position: absolute;
    margin-right: 8px;
    border-radius: 2px;
    opacity: 0;
  
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }
  
  
  