/* КОЛЬОРИ АКЦЕНТІВ #2196F3
КОЛЬОРИ ЗАГОЛОВКІВ #212121
КОЛІР ТЕКСТУ #757575
КОЛІР ТЕКСТУ ФУТЕРА rgba(255, 255, 255, 0.6);  */

.container {
  margin-left: auto;
  margin-right: auto;
  width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
}

/* main-nav */
.main-nav {
  display: flex;

  align-items: center;
}

.header-main-nav {
  display: flex;
  align-items: center;
}

/* SITE NAV */

.news-logo {
  color: #212121;

  font-style: normal;
  font-weight: 700;
  font-size: 42px;
  line-height: 57px;
}

.current {
  position: relative;
}

.current::after {
  content: "";
  position: absolute;
  left: -7px;
  bottom: 28px;
  display: block;
  width: 60px;
  height: 2px;
  border-radius: 2px;
  background-color: #4440f6;
}

.main-header {
  border: 1px solid #ececec;
}

.studio.logo {
  color: var(--title-text-color);
}

.site-nav {
  display: none;

  @media screen and (min-width: 768px) {
    display: flex;
    margin-left: 48px;
  }
  @media screen and (min-width: 1200px) {
    margin-left: 102px;
  }
}

.search__input {
  margin-left: 147px;
  width: 288px;
  height: 31px;
  left: 681px;
  top: 51px;
  border-radius: 2px;
  border-radius: 20px;
}
.site-nav .item + .item {
  margin-left: 50px;
}

.contact-nav .item + .item {
  margin-left: 50px;
}

.site-nav .link {
  display: block;

  color: var(--title-text-color);
  font-weight: 500;
  font-size: 14px;
  line-height: 1.16;
  letter-spacing: 0.02em;

  padding-top: 32px;
  padding-bottom: 32px;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.site-nav .link:hover,
.site-nav .link:focus {
  color: #4b48db;
  cursor: pointer;
}

.contact-nav.list {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.02em;
}

.contact-nav .link {
  color: var(--primary-text-color);
}

.contact-nav-icon:hover {
  fill: currentColor;
}

/* =========================================================== */
.search-form {
  margin-right: 148px;
  width: 100%;
  display: flex;
  justify-content: center;
}

.heder-input {
  padding-left: 50px;
  width: 288px;
  height: 31px;
  border-radius: 20px;
  border: none;
  outline: none;
  background-color: #f4f4f4;

  font: inherit;
}

.heder-input::placeholder {
  padding-left: auto;
}

.search-form button {
  position: relative;
  right: 286px;
  display: flex;
  top: 5%;
  justify-content: center;
  align-items: center;
  width: 2.5em;
  border: none;
  background-color: #f4f4f4;

  border-radius: 20px;
  cursor: pointer;
}

.search-form button:hover,
.search-form button:focus {
  background-color: rgb(180, 180, 180);
  transition: all 0.3s;
}

.material-icons {
  position: absolute;
  font-family: "Material Icons";
  font-weight: normal;
  font-style: normal;
  font-size: 24px;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: "liga";
  -webkit-font-smoothing: antialiased;
}

/* =========================================================== */
