.button-list {
    display: flex;
    gap: 8px;
    justify-content: center;
    margin-bottom: 50px;
  }
  
  .portfolio-button {
    display: inline-block;
    border-radius: 4px;
    padding: 6px 22px;
    min-width: 73px;
  
    color: var(--title-text-color);
    background-color: var(--button-color-portfolio);
  
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    border: none;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:focus,
      &:hover {
        color: var(--primary-button-color);
        background-color: var(--accent-text-color);
        cursor: pointer;
        border-radius: 4px;
        box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
          0px 2px 2px rgba(0, 0, 0, 0.12);
      }
  }
 
  
  