.button-list {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
    justify-content: center;
    
    @media screen and (min-width:768px) {
      display: flex;
      gap: 53px;
    }
    @media screen and (min-width: 1280px){
      gap: 44px;
    }
  }
  
  .portfolio-button {
    display: inline-block;
    border-radius: 16px;
    padding: 6px 22px;
    min-width: 124px;
    min-height: 35px;
    @media screen and (min-width:768px) {
      min-width: 132px;
      min-height: 51px;
      
    }
    
  
    color: #86E543;
    background-color: transparent;
  
    font-family: "Roboto";
    font-weight: 500;
    font-size: 16px;
    line-height: 1.62;
    letter-spacing: 0.03em;
    text-align: center;
    border: 1px solid #86E543;
  
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);

      &:focus,
      &:hover {
       
      background: #86E543;
box-shadow: 0px 4px 4px rgba(134, 229, 67, 0.2);
border-radius: 16px;
color: #01383A;
cursor: pointer;
      }
  }
 
  
  