.job__section {
  padding-bottom: 94px;
  @media screen and (max-width: 1200px) {
    display: none;
    
  }
}

.job__list {
  display: flex;
  gap: 30px;
}
  .job__title {
    margin-top: 0;
    margin-bottom: 50px;
    color: var(--title-text-color);
    font-weight: 700;
    font-size: 36px;
    line-height: 1.16;
    text-align: center;
    letter-spacing: 0.03em;
  }
  
  .job__link {
    position: relative;
    display: block;
    text-decoration: none;
  }
  
  .job__text {
    position: absolute;
    bottom: 0;
    right: 0;
    padding-top: 27px;
  
    color: var(--primary-button-color);
    background: rgba(47, 48, 58, 0.8);
    width: 370px;
    height: 70px;
  
    font-weight: 700;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    letter-spacing: 0.03em;
    text-transform: uppercase;
  
    text-align: center;
  }
  
  