:root {
    --title-text-color: #212121;
    --primary-text-color: #757575;
    --footer-text-color: rgba(255, 255, 255, 0.6);
    --accent-text-color: #2196f3;
    --primary-button-color: #ffffff;
    --footer-hero-color: #2f303a;
    --button-color-portfolio: #f5f4fa;
  }

  