h1,
h2,
h3,
h4,
p,
ul,
li {
  margin: 0;
  padding: 0;
}
img {
  display: block;
  max-width: 100%;
  height: auto;
  width: 100%;
}

a {
  text-decoration: none;
}
.list {
  list-style: none;
}
.link {
  text-decoration: none;
}

body {
  color: var(--primary-text-color);
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
  letter-spacing: 0.03em;
}

.list {
  list-style: none;

}

.link {
  text-decoration: none;
}

